@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
/* for title  font-family: 'Antic', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif;*/

:root
{
   --themecolor1:#63bbef;
   --themecolor2:rgb(172, 99, 255);
   --green:rgb(11, 213, 11);
   --font1 :'Roboto', sans-serif;
}


@media screen and (max-width:700px) {
body
{
    padding: 0;
    background-color: white;
}

/* Container starts here */
.container 
{
    width: 100%;
   
}

/* Header starts here */
header 
{
    background-color:rgba(255, 255, 255);
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 10%;
    padding: 10px;
    top: 0;
    width: 100%;
    justify-content: center;
    gap:5%;
}
header .img 
{
    width: 20%;
}
header h1
{
    width: 60%;
    color: var(--themecolor1);
    font-family: 'Roboto', sans-serif;
}

/* Container ends here */

/* Contents starts here the main purpose is to set background function image */
.contents
{
 margin-top: 110px;
 width: 100%;
 padding: 0;
 border-radius: 150px 150px 0 0;
 background-color: var(--themecolor1);
 min-height: 800px;
 padding: 0;
 display: flex;
 flex-direction: column;
 text-align: center;

 font-family: 'Antic', sans-serif;
 
}

/* data starts here, container/containent/data */


/* Data and reports*/
.data
{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    
}
.reports 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 30px;
    text-align: center;
    
    width: 70%;
    gap: 2%;
    margin: 0 auto;

    
}
.report 
{
background-color: rgba(255, 255, 255, 0.808);
overflow: hidden;
min-width: 90px;
height: 90px;
border-radius: 50px;
padding: 0px 1px;
display: flex;
flex-direction: column;
justify-content:center ;

}

.report h2, .report p
{
    
    padding: 0;
    margin: 1px;
   
    
}
.total h2 
{
    color:rgb(208, 208, 5);
    text-shadow: 1px 1px black;
}
.paid h2  
{
    color:rgb(4, 255, 4);
    text-shadow: 1px 1px black;
}
.dues h2 
{
    color:red;
    text-shadow: 1px 1px black;
}
/* Customers Details table*/
.details
{
    width: 90%;
    margin: 0 auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.174);
   font-size: larger;
   border-radius: 10px;
   padding: 10px;
   text-align: left;
}
.details a 
{
    text-decoration: none;
    color: white;
}
.details tr td:first-child
{
    width: 20%;
    font-weight: bold;
    color: var(--themecolor2);
}
.details tr td:last-child
{
    width: 80%;
    
}

/*action buttons */

.actions 
{
    padding: 20px 0;
}
.actions tr td
{
    width: 10%;
    
}
.actions .aBtn 
{
    text-align: center;
    border-radius: 10px 0 10px 0; 
    cursor: pointer;
    width: 80%;
    margin:  0 auto;
    background-color:rgb(11, 213, 11);
    box-shadow: 1px 1px 5px 1px black;
    color: white;
}

/*back button*/

.navi 
{
    color: white;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}


/*The dataTable starts from here. It has 
datable
datas , .firstrow
row
.sec1 SN , .sec2 Date , .sec3 Description , .sec4 total/paid/dues
h3
*/

.dataTable , .datas
{
    background-color: white;
    width: 100%;
    padding:0 0;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.datas
{
    border-radius: 0px;
    width: 100%;
    border: none;
}
.row
{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
    margin: 0 auto;
    
   
    border-bottom: 0.5px solid black;
}
.firstrow 
{
    background-color: var(--themecolor2);
    color: white;
    font-size: 12px;
}

.secondrow
{
    max-height: 500px;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}


.sec1 
{
    width: 6%;
    border-right: 0.2px solid black;
    padding: 1px;
}
.sec2
{
    width: 19%;
    border-right: 0.2px solid black;
    padding: 0;
   
}
.sec3 
{
    width:30%;
    border-right: 0.2px solid black;
    padding: 1px;
}
.secondrow .sec3
{
    text-align: left;
    padding: 1px;
}
.sec4 
{
    width: 15%;
    border-right: 0.2px solid black;
    padding: 1px;
}


/*Acction for ADD / PAY / EDIT/ DEL new transactions*/
.Action
{
    padding: 30px;
    display: none;
    text-align: center;
    font-family: var(--font1);
    width: 80%;
    min-height: 250px;
   
    position: fixed;
    
    
    border-radius: 10px;
    box-shadow: 5px 50px 200px 90px black;

    background-color: var(--themecolor1);
    color: white;
    top: 100px;
    
    
}
.Action table
{
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    
}

.Action table tr:last-child td
{
    text-align: center;
}
.Action table td 
{
    width: 50%;
}
.Action table td:first-child h1 
{
    text-align: center;
}
.Action table td:first-child
{
    text-align: left;
    
}
.Action table td:last-child
{
    text-align: center;
}

.Action .actionBtn
{
    width: 70%;
    height: 40px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 14px;
}
.Action .actionDone
{
    background-color: var(--green);
}
.Action input
{
    width: 100%;
    font-size: 18px;
}
#des
{
    resize: none;
    width: 100%;
    
    font-size: 18px;
}

.transDetails
{
    display: block;
    
    text-align: left;
  
    
}
.transDetails #dropRec 
{
    color: red;
    text-align: right;
}

}